<h2 style="text-align: center;">שינוי סיסמא</h2>
<div>
    <label for=crntpwd>סיסמא נוכחית</label>
    <input type="password" id=crntpwd [(ngModel)]="crntPwd">
    <br/>
    <label for=nwpwd>סיסמא מבוקשת</label>
    <input type="password" id=nwpwd [(ngModel)]="nwPwd">
    <br/>
    <label for=nw2pwd>וידוא סיסמא מבוקשת</label>
    <input type="password" id=nw2pwd [(ngModel)]="nw2Pwd">
    <br/>
    <button (click)="back()">חזרה</button> &nbsp;&nbsp;
    <button type=button (click)="updIt()">שמור שינו סיסמא</button>
    <br>
    <a *ngIf="jobDone" routerLink="/AccountLogin">שינוי הסיסמא הצליח הקש כאן לכניסה מחדש למערכת</a>
</div>