
<h1>
    Welcome to the {{accountDetails}}
</h1>
<h2 style="text-align: center;">הזנת תנועות</h2>


<div [class.notshown]="editAccountOwner" id="transaction" dir=rtl>
    <p >
        <label for=amount>סכום:</label>
        <input required type=number id=amount min=0 [(ngModel)]="currentAmount" />
       
        <br />
        <br />
        <label for=asmachta>אסמכתא:</label>
        <textarea id=asmachta [(ngModel)]="currentTransactionAsmachta" ></textarea>
        
        <br />
        <br />
        <label required for=taarich>תאריך:</label>
        <input required type=date id=taarich [(ngModel)]="currentTransactionDateS" />
        
        <br />
        <br />
        <label for=sugpeula>סוג פעולה:</label>
        <select *ngIf="trnsArr.length <1" required id=sugpeula [(ngModel)]="currentTransactionType">
            <option value={{0}}>{{ transactionTypeNames[0] }}</option>
        </select>
        <select *ngIf="trnsArr.length>0" required id=sugpeula [(ngModel)]="currentTransactionType">
            <option value={{1}}>{{ transactionTypeNames[1] }}</option>
            <option value={{2}}>{{ transactionTypeNames[2] }}</option>
        </select>
       
        <br />
        <br />
        <button type="button" (click)='doTransaction();'>בצע פעולה </button>
        <br />
        <br />
    </p>
    <p *ngIf="!lastActionFail">
        {{transaction}}
    </p>
    <p *ngIf="!lastActionFail" [class.minus]='currentBalance<0'>
        your current balance is: {{currentBalance|currency:'ILS'}}
    </p>
    <p *ngIf="lastActionFail" dir="rtl">
        פעולת נדחתה עקב חריגה צפויה מתקרת אשראי של <bdo dir="ltr">{{accountDetails.limit|currency:'ILS'}}</bdo>
    </p>
</div>